<div class="row gonk-row align-items-center mb-2 mt-2 p-2 border border-warning rounded" [class.active-turn]="isActive">

  <div class="col-auto">
    <img src="assets/samurai-icon.png" class="portrait" />
  </div>

  <!--
  <div class="col">
    <p class="mb-0 fw-bold">{{ character.name || 'Gonk' }}</p>
  </div>
  -->

  <div class="col-2">
    <input
      type="text"
      class="fs-3 fw-bold text-warning input-transparent text-uppercase f-aldrich-regular"
      placeholder=""
      [(ngModel)]="character.name"
      (blur)="changeName.emit(character)"
      (submit)="changeName.emit(character)"
      name="name"
    />
  </div>

  <div class="col">
    <p class="mb-0">
      HP: {{ character.health ?? '—' }}<br>
      Head Armor: {{ character.headArmor ?? '—' }}<br>
      Body Armor: {{ character.armor ?? '—' }}<br>
      Initiative: {{ character.initiative ?? '—' }}
    </p>
  </div>

  <!-- UNCOMMENT FOR WEAPON CASES
  -->
  <div class="col-3">
    <!--
    <input
      type="text"
      class="input-transparent text-light max-vh-10 f-gothic" 
      placeholder="Strong language"
      [(ngModel)]="weapon.weaponName"
      (blur)="saveWeapon.emit(character)"
      (submit)="saveWeapon.emit(character)"
      name="name"
    />

    <input
      type="text"
      class="input-transparent text-light max-vh-10 f-gothic" 
      placeholder="Just emotional"
      [(ngModel)]="weapon.weaponName"
      (blur)="saveWeapon.emit(character)"
      (submit)="saveWeapon.emit(character)"
      name="name"
    />
    -->

    <div class="row mx-3" #buttonWrapper>
      @for (weapon of character.weapons; track trackWeapon(weapon)) {
        <div 
          class="btn btn-sm btn-outline-danger mb-1 unrounded position-relative col-6"
          (mouseenter)="showDetails[weapon._id!] = true"
          (mouseleave)="showDetails[weapon._id!] = false"
        >
          {{ weapon.weaponType }}

          <!-- Popover container -->
          <div 
            *ngIf="showDetails[weapon._id!]"
            class="popover-custom border border-danger p-2 position-absolute bg-black"
            style="top: 100%; left: 0; z-index: 10; white-space: pre-line;"
          >
            <label> Weapon Skill: {{ weapon.weaponSkill }} </label>
            <label> Weapon Damage: {{ weapon.singleShotDice }}d{{ weapon.singleShotDamage }} </label>
            <label> Magazine Size: {{ weapon.magazineSize }} </label>
            <label> Weapon ROF: {{ weapon.rateOfFire }} </label>
            <label> Concealable: {{ weapon.concealable }} </label>
            <button class="btn btn-sm btn-outline-danger flex-fill mb-1 unrounded" (click)="deleteWeapon(weapon)">Delete Weapon</button>
          </div>
        </div>
      }

      <button #addWeaponBtn class="btn btn-sm btn-outline-danger flex-fill mb-1 unrounded" (click)="toggleAddWeapon()">
        Add weapon
      </button>
    </div>

  </div>

  <!-- Floating form for weapons -->
  @if(showAddWeapon){
  <div
    class="card shadow p-3 bg-black text-white unrounded border-warning"
    [ngStyle]="{
      top: formTop,
      left: formLeft,
      width: formWidth,
      position: 'fixed',
      zIndex: 2000
    }"
  >
    <form (ngSubmit)="addWeapon()">

      <div class="row px-2">
        <div class="col p-0 px-1">
          <label class="text-warning">Weapon Type</label>
          <select
            id="weaponType"
            class="form-control form-control-sm mb-2 text-light bg-dark border-secondary unrounded placeholder-light"
            [(ngModel)]="weapon.weaponType"
            (ngModelChange)="onWeaponTypeChange($event)"
            name="weaponType"
            required
          >
            <option value="Select Weapon Type" disabled selected>Select Weapon Type</option>
            <option *ngFor="let type of weaponTypes" [value]="type">{{ type }}</option>
          </select>
        </div>
        
        <div class="col p-0 px-1">
          <label class="text-warning">Weapon Skill</label>
          <select
            id="weaponSkill"
            class="form-control form-control-sm mb-2 text-light bg-dark border-secondary unrounded placeholder-light"
            [(ngModel)]="weapon.weaponSkill"
            name="weaponSkill"
            disabled
            required
          >
            <option value="Select Weapon Skill" disabled selected>Select Weapon Skill</option>
            <option *ngFor="let skill of weaponSkills" [value]="skill">{{ skill }}</option>
          </select>
        </div>
      </div>

      <div class="row px-2">
        <div class="col p-1">
          <label class="text-warning">Dice Number</label>
          <input
            id="singleShotDice"
            type="number"
            class="form-control form-control-sm mb-2 text-light bg-dark number-to-text placeholder-light border-secondary unrounded"
            [(ngModel)]="weapon.singleShotDice"
            placeholder="Damage Dice Number"
            name="singleShotDice"
            required
          />
        </div>
        <div class="col p-1">
          <label class="text-warning">Dice Type</label>
          <input
            id="singleShotDamage"
            class="form-control form-control-sm mb-2 text-light bg-dark number-to-text placeholder-light border-secondary unrounded"
            placeholder="Damage Dice Type"
            [(ngModel)]="weapon.singleShotDamage"
            name="singleShotDamage"
            required
          />
        </div>
        <div class="col p-1">
          <label class="text-warning">Magazine Size</label>
          <input
            id="magazineSize"
            type="number"
            class="form-control form-control-sm mb-2 text-light bg-dark number-to-text placeholder-light border-secondary unrounded"
            [(ngModel)]="weapon.magazineSize"
            placeholder="Magazine Size"
            name="magazineSize"
            required
          />
        </div>
        <div class="col p-1">
          <label class="text-warning">ROF</label>
          <input
            id="rateOfFire"
            class="form-control form-control-sm mb-2 text-light bg-dark number-to-text placeholder-light border-secondary unrounded"
            placeholder="Rate Of Fire"
            [(ngModel)]="weapon.rateOfFire"
            name="rateOfFire"
            required
          />
        </div>
      </div>
      
      <div class="text-end">
        <button type="submit" class="btn btn-sm btn-outline-warning mb-1 unrounded col-6">Add</button>
        <button type="button" class="btn btn-sm btn-outline-danger mb-1 unrounded col-6" (click)="closeForm()">Cancel</button>
      </div>
    </form>
  </div>
  }


  <div class="col-3">
    <!--<input type="number" class="form-control form-control-sm mb-2" [(ngModel)]="inputValue" placeholder="Value" /> -->
    <input
      type="number"
      class="form-control form-control-sm mb-2 text-light bg-dark number-to-text placeholder-light border-secondary unrounded"
      [ngModel]="inputValue"
      (ngModelChange)="onInputChange($event)"
      placeholder="Enter value"
    />

    <div class="d-flex flex-wrap">
      <button class="btn btn-sm btn-outline-danger flex-fill mb-1 unrounded col-6" (click)="rangedAttack.emit(character)">
        <span class="text">Ranged Attack</span>
      </button>

      <button class="btn btn-sm btn-outline-danger flex-fill mb-1 unrounded col-6" (click)="meleeAttack.emit(character)">
        <span class="text">Melee Attack</span>
      </button>

      <div class="w-100"></div>

      <button class="btn btn-sm btn-outline-warning flex-fill gap-1 unrounded col-4" (click)="setHealth.emit(character)">
        <span class="text">Set Health</span>
      </button>

      <button class="btn btn-sm btn-outline-warning flex-fill gap-1 unrounded col-4" (click)="changeArmor.emit(character)">
        <span class="text">Set Armor</span>
      </button>

      <button class="btn btn-sm btn-outline-warning flex-fill gap-1 unrounded col-4" (click)="changeInit.emit(character)">
        <span class="text">Set Initiative</span>
      </button>
    </div>

    <div class="row px-3">
      <div class="form-check mt-1 col-4">
        <input
          class="form-check-input unrounded checkbox-warning"
          type="checkbox"
          [(ngModel)]="isHeadshot"
          (ngModelChange)="onIsHeadshotChange($event)"
          id="isHeadshot"
        />
        <label class="form-check-label small text-light" for="isHeadshot">
          Headshot
        </label>
      </div>

      <div class="form-check mt-1 col-4">
        <input
          class="form-check-input unrounded checkbox-warning"
          type="checkbox"
          [(ngModel)]="halfArmor"
          (ngModelChange)="onHalfArmorChange($event)"
          id="halfArmor"
        />
        <label class="form-check-label small text-light" for="halfArmor">
          Half Armor
        </label>
      </div>

      <div class="form-check mt-1 col-4">
        <input
          class="form-check-input unrounded checkbox-warning"
          type="checkbox"
          [(ngModel)]="ignoreArmor"
          (ngModelChange)="onIgnoreArmorChange($event)"
          id="ignoreArmor"
        />
        <label class="form-check-label small text-light" for="ignoreArmor">
          Ignore Armor
        </label>
      </div>
    </div>

    
  </div>

  <div class="col-auto">
    <button class="btn btn-md btn-outline-warning fw-bold unrounded" (click)="delete.emit(character)">X</button>
  </div>

</div>
