/* You can add global styles to this file, and also import other style files */

/* FONTS */

@font-face {
  font-family: 'Qubegenix';
  src: url(./assets/fonts/Qubegenix-G3Y1O.ttf);
}
@font-face {
  font-family: 'Sdglitch';
  src: url(./assets/fonts/Sdglitchrobotdemo-GOPdO.ttf);
}

.f-gothic{
  font-family: 'Century Gothic Bold';
}

.f-aldrich-regular {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}

